.ui-datepicker .ui-datepicker-current-day {
    background: #77c1f6 !important; /* Warna latar belakang hari aktif */
    color: #8cd3ff !important; /* Warna teks hari aktif */
  }
  
  .ui-datepicker .ui-datepicker-current-day a {
    background: #77c1f6;
    color: #ffffff !important; /* Warna teks tautan hari aktif */
}

.ui-datepicker .ui-datepicker-header {
    background: #fffff8 !important; /* Warna latar belakang header */
    color: #000000 !important; /* Warna teks header */
}

.ui-datepicker {
    background: #5c82ba!important; /* Warna latar belakang datepicker */
  }